body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
     background-image: url(cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    padding: 12px 20px;
    justify-content: space-around;
    display: flex;
    border: 2px solid white;
    background-color: white;
}
.nav_links{
    display: flex;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: end;
      align-items: center;
}
.nav_links a{
    color:rgb(105, 49, 27) ;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
}
.logo a{
    color: rgb(105, 49, 27);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.btn-item{
    margin-left: 100px;
}
.btn{
    border-radius:25px;
    border: 2px solid rgb(105, 49, 27);
     background-color: white;
     font-weight: bold;
      text-decoration: none;
    color: rgb(105, 49, 27);
    padding: 4px 8px;
}
.btn:hover{
    background-color: rgb(105, 49, 27);
    color: white;
    transition: 0.3s ease;
}
.text{
    display: block;
    align-items: center;
    gap: 16px;
}
.text_test{
    color: rgb(78, 44, 5);
     margin-left: 10px;
     padding: 20px;
      margin-top: 180px; 
}
.text_test h1{
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}
.text_test p{
    font-size: 50px;
    margin: 0;
}
.btnn{
    border-radius:25px;
    border: 2px solid white;
     background-color: white;
     font-weight: bold;
      text-decoration: none;
    color: rgb(105, 49, 27);
    padding: 10px 20px;
    margin-left: 25px;
}